*, *::before, *::after {
   box-sizing: border-box;
   font-family: Arial;
}

#score-amount {
   transition: transform 100ms ease-in-out;
   font-size: max(3vmin, 15px);
   font-weight: bold;
   text-align: center;
}

.score-box {
   position: relative;
}

.score-label {
   font-size: max(2vmin, 10px);
   color: #AAA;
   text-align: center;
   line-height: 1.2;
}

.score-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header {
   display: flex;
   padding-bottom: 1vmin;
   margin-top: 2.5vmin;
   border-bottom: 1px solid #ccc;
   align-items: center;
   color: #ccc;
}

body {
   background-color: #333;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   font-size: 7.5vmin;
}

#game-board {
   display: grid;
   grid-template-columns: repeat(var(--grid-size), var(--cell-size));
   grid-template-rows: repeat(var(--grid-size), var(--cell-size));
   background-color: #ccc;
   gap: var(--cell-gap);
   border-radius: 1vmin;
   padding: var(--cell-gap);
   position: relative;
   margin-top: 2vmin;
}

.cell {
   background-color: #AAA;
   border-radius: 1vmin;
}

.tile {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: var(--cell-size);
   height: var(--cell-size);
   background-color: red;
   border-radius: 1vmin;
   top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
   /* 타일 위치 */
   left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
   /* 타일 위치 */
   font-weight: bold;
   background-color: hsl(200, 50%, var(--background-lightness));
   color: hsl(200, 25%, var(--text-lightness));
   animation: show 200ms ease-in-out;
   /* 타일 숫자 animation */
   transition: 100ms ease-in-out;
   /* 타일 움직임을 부드럽게 */
}

@keyframes show {
   0% {
      opacity: .5;
      transform: scale(0);
   }
}